@model Car

@{
    ViewData["Title"] = "Legg til ny bil";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="AddCar" method="post">
    <div>
        <label for="LicensePlate">Registreringsnummer</label>
        <input type="text" id="LicensePlate" name="LicensePlate" value=" @Model.LicensePlate" />
        @if (ViewData.ModelState["LicensePlate"]?.Errors.Count > 0)
        {
            <div style="color:red;">
                @foreach (var error in ViewData.ModelState["LicensePlate"].Errors)
                {
                    <p>@error.ErrorMessage</p>
                }
            </div>
        }
    </div>
    <div>
        <label for="Description">Beskrivelse</label>
        <input type="text" id="Description" name="Description"  />
    </div>
    <div>
        <label for="Model">Modell</label>
        <input type="text" id="Model" name="Model"  />

    </div>
    <div>
        <label for="Brand">Merke</label>
        <input type="text" id="Brand" name="Brand"  />
    </div>
    <div>
        <label for="TireCount">Antall Dekk</label>
        <input type="number" id="TireCount" name="TireCount" value="@Model.TireCount" min="0"/>
        @if (ViewData.ModelState["TireCount"]?.Errors.Count > 0)
        {
            <div style="color:red;">
                @foreach (var error in ViewData.ModelState["TireCount"].Errors)
                {
        